@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");


/* Farben */
:root {
  --background-color: #2d003d;
  --accent-color: #8d26cc;
  --secondary-color: #4cf8b2;
  --text-color: #ffffff;
}

@font-face {
  font-family: "Nunito"; /* Name der Schriftart */
  src: url("Ashemark regular.otf") format("opentype"); /* Pfad zur OTF-Datei */
}

/* Allgemein */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  font-family: "Ashemark";
}

header {
  text-align: center;
  padding: 2rem 1rem;
  background: var(--accent-color);
  color: var(--text-color);
}

header .logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 1s ease-in-out;
}

header img {
  max-width: 150px;
}

header h1 {
  margin-top: 1rem;
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

/* Top Bar */
.top-bar {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #1a0033;
  padding: 10px 0;
  text-align: center;
  color: var(--secondary-color);
  font-size: 1rem;
  opacity: 0;
  animation: slideDown 1s forwards;
}

.top-bar a {
  color: var(--secondary-color);
  font-weight: bold;
  text-decoration: none;
}

.top-bar a:hover {
  text-decoration: underline;
}

/* Animationen */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Main */
main {
  padding: 2rem 1rem;
}

section {
  margin-bottom: 2rem;
  text-align: center;
}

h2 {
  color: var(--secondary-color);
  font-size: 2rem;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 1rem 0;
  background: var(--accent-color);
  color: var(--text-color);
}

.game-links {
  list-style: none;
  padding: 0;
}

.game-links li {
  margin: 0.5rem 0;
}

.game-links a {
  text-decoration: none;
  color: #4cf8b2; /* Passend zum Farbschema */
  font-weight: bold;
  transition: color 0.3s ease;
}

.game-links a:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}

img {
  border-radius: 2vh;
}

/* Responsive Design */
@media (max-width: 768px) {
  header h1 {
    font-size: 2rem;
  }
  .top-bar {
    font-size: 0.9rem;
  }
}
